<section class="section banner">
    <div [@bannerTrigger] class="container">

      

        <div class="section-box-banner">
            <div class="content">

                <div class="blob-effect">
                    <span></span>
                    <span></span>
                    <span></span>
                    </div>
                    
                <div>
                    <h1>Hi, My Name is</h1>
                </div>
                <div class='banner-title'>
                    <h2>Sushmita Dhawni</h2>
                    <h3>Specialist - Quality Engineer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">
                        I have over <span class='underline'>8 years of experience</span> in  Software Manual and Automation Testing. 
                        My key focus is on <span class='underline'>client satisfaction</span> and ensuring optimal utilization of resources.  
                        I am dedicated to delivering <span class='underline'>high-quality</span> Products and exceeding expectations in all testing projects.
    
                    </p>
                </div>
            </div>
            <!-- <div class="div-btn-banner">
                <a href="mailto:mayanksha200@gmail.com" target="_blank" class="main-btn">
                    Get In Touch
                </a>
            </div> -->
        </div>
    </div>
</section>
